body {
    margin: 0;
    font-family: arial;
}



#button-container {
    display: flex;
    justify-content: center;
    padding:5px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;

}

button:hover {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
.output-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* 50% of viewport */
}

.zone {
    cursor:pointer;
    color:#FFF;
    font-size:1.5em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/* NAV*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    justify-content:flex-start;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
} 

a {
    color:#fff;
    text-decoration: none;
}

/* COVER */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* 50% of viewport */
}

.cover {
    width: 30rem;
}
/* GRID */
.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img { 
    width: 100%;
}

.box {
    background-color: #444;
    padding: 70px;
    margin: 10px;
    font-size: 1em;
}

/* FOOTER */
footer {
    text-align: center;
    cursor:pointer;;
    font-size: 12pt;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: #D9D9D9; /* Light Grey */
}

.red {
    background: #808080; /* Medium Grey */
}

.blue {
    background: #333333; /* Dark Grey */
}
